$naranja: #FF4700;
$naranjaClaro: #FC6A35;
@font-face {
    font-family: "walkway";
    src: url(../fonts/walkway/Walkway_Bold.ttf) format("truetype");
}
@font-face {
    font-family: "cdb";
    src: url(../fonts/caviar_dreams/CDB.ttf) format("truetype");
}

/* Clearfix */
.clear:before, .clear:after {
    content: " ";
    display: table;
}
 
.clear:after {
    clear: both;
}
 
.clear {
    *zoom: 1;
}

/*NAV*/

a#pull {
    display: none;
}
#nv{ 
    background-color: $naranja;
    font-family: walkway;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    margin-top: 0px;
    color: white;
    font-size: 100%;
    li {
        float: left;
        text-align: center;
        a {
            font-size-responsive: 12px 20px 480px 1280px;
            color: white;
            display: block;
            padding: 17px 16px;
            text-align: center;
            text-decoration: none;

        }
        a:hover {
            background-color: $naranjaClaro;
        }
        a:active {
            background-color: #B2BBBB;
        }
        img{
            margin-left: 5px;
            margin-top: 10px;
            height: 35px;
            width: 40px; 
        }
    }
}
#name{
    padding-right: 0 !important;
    margin-right: 1%;
    :hover{
            background-color: $naranja !important;
    }
    img{
            width: 90%;
    }
       
    
}
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}
/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
    margin-right: 8px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.cl-effect-1 a::after {
    margin-left: 8px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

/*BODY*/
body{
    margin: 0;
}
#slider{
    margin-top: 4%;
}
#logo{
    margin-top: 3%;
    text-align: center;
    img{
        width: 45%;
    }
}
.des_title{
    color: #454545;
    font-family: walkway;
    font-size-responsive: 20px 25px 480px 1280px;
    grid-column: 5/12;
    text-align: center;
    margin-left: 6%;
}
.col{
    color: #454546;
    font-size-responsive: 13px 17px 480px 1280px;
    font-family: cdb;
    text-align: justify;
    grid-column: 5/12;
    margin-left: 6%;
}
hr{
    border:0;
    height: 1px;
    background-color: $naranja;
    margin-left: 1%;
}
.des_img{
    width: 100%;
}
.sm_des_img{
    margin: 1%;
    width: 60%;
    float: left;
}

/*SLIDER*/
.contenedor{
    width:90%;
    text-align: center;
    margin: 0 auto;
    position: relative;
}
.contenedor div{
    width: 100%;
    display: none;
}
.contenedor img{
    width: 100%;
    height: 100%;
    margin-top: 0;
}
button{
    margin:0 auto;
    border: none;
    background: white;
}

.anterior,.siguiente{
    cursor: pointer;
    width: 20%;
    img{
        width: 15%;
        height: 15%;
    } 
}
/*FOOTER*/
#foot{
    margin-top: 5%;
    background-color: $naranja;
    grid-column: 12/12;
    div ul{
        list-style: none;
        display: inline-block;
        li a{
            color: white;
            font-family: walkway;
            text-decoration: none;
        }
    }
}
#cont{
    float: left;
}
.social{
    
    display: inline-block;
    width: 4%;
    padding: 2% 0;
    margin: 8% 1.5% 0 1.5% !important;
    text-indent: -9999px;
    float: right;

}
.fb{
   
    background: url(../img/fb_gray.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.fb:hover{
    
    background: url(../img/fb_color.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.tw{
     
    background: url(../img/tw_gray.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 1.9%;
}
.tw:hover{
    
    background: url(../img/tw_color.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 7.7% !important;
}
.footer_links{
    font-size-responsive: 13px 19px 480px 1280px;
    margin: 10% 15% 0 2%;
}
#hidden{
   visibility: hidden; 
}
/*RESPONSIVE*/
/*NAV*/
@custom-media --small-viewport only screen and (max-width : 600px);

@media (--small-viewport) {
#logo{
        margin-top: 7%;
}
   #name{
    display: none;
   }
   nav {
    font-family: walkway;
        border-bottom: 0;

        ul{
            display: none;
            width: 115%;

            li{
                width:100%;
                position: relative;
            }
        }
    }
    nav a {
        text-decoration: none;
        color: white;
        text-align: left;
        width: 80%;
        text-indent: 25px;
        padding: 2% 0;
    }
 
    nav a#pull {
        content: "";
        display: block;
        background-color: $naranja;
        width: 100%;
        position: relative;
        margin-left: 0 !important;
    }
    nav a#pull:after {
        content:"";
        background: url('../img/navicon.png') no-repeat;
        background-size: contain;
        width: 7%;
        height: 80%;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }
    /* NONE Effect 1: Brackets */
   .cl-effect-1 a::before {
        content: '';
    }
    .cl-effect-1 a::after {
        content: '';
    }
}